/* @media only screen and (min-width: 600px){
    body {
      background-color: red;
    }
  }
  @media only screen and (max-width:599px) {
    body {
      background-color: blue;
    }
  } */
body{
    background-color: pink;
    font-family: Lobster;
}
ul{
    list-style-type: none;
}
.hidden{
  display: none;
}
.display{
  list-style-type: none;

}
ol{
  border: 2px solid black;
  z-index: 100;
}